/* Typography Base */

/* Avoid Padding issues with texts in Grids
  http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/

/*Disable Link styling*/
a {
  text-decoration: none; color: inherit;
}

a:hover {
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}

/*Change this to any other WebFont from GoogleFont or FontSquirrel*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  padding-top:20px;
}

header {
  font-size: 2em; font-weight:200;
  border-bottom: 1px #dbe4e4 solid;
  margin: 0 auto;
  overflow: hidden;
  padding: 1px 1px;
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

h1,h2,h3,h4,h5,h6,p {
  line-height: 1.45;
}

.h0 {
  font-size: 7em; font-weight:700;
}

.h01 {
  font-size: 7em; font-weight:700; font-style: italic;
}

h1 {
  font-size: 3em; font-weight:300;
}

h2 {
  font-size: 3em; font-weight:300; font-style: italic;
}

h3 {
  font-size: 2em; font-weight:200;
}

h4 {
  font-size: 2em; font-weight:200; font-style: italic;
}

h5 {
  font-size: 2em; font-weight:200;
}

h6 {
  font-size: 2em; font-weight:200; font-style: italic;
}

p.pt8 {
  font-size: 0.5em; font-weight:50;
}

p.pt10 {
  font-size: 0.66em; font-weight:66;
}

p.pt12 {
  font-size: 0.75em; font-weight:75;
}

p.pt16 {
  font-size: 1em; font-weight:100;
}

p.pt24 {
  font-size: 1.5em; font-weight:100;
}

p.pt36 {
  font-size: 2.25em; font-weight:225;
}

p.pt48 {
  font-size: 3em; font-weight:300;
}

p.pt64 {
  font-size: 4em; font-weight:400;
}

p.pt72 {
  font-size: 4.5em; font-weight:450;
}
}

h6, dd, li {
  font-size: 1em; font-weight:100; font-style: italic
}

dd {
  text-decoration: overline;
  font-style: italic;
  font-weight:100;
}


/* Poem */
#poetroid section {
  padding-top: 1.5em;
}

.loading {
 position: absolute;
 top: 40%;
 left: 42%;
}


body {
  background-color: #f2f2f2;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  padding-top:40px;
}

header {
  border-bottom: 1px #dbe4e4 solid;
  margin: 0 auto;
  overflow: hidden;
  padding: 1.5% 10% 1%;
  width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul. {
  font-size: 1em; font-weight:100;
}

dl.meta-title {
  box-shadow: inset 1 1 10px #777777;
}

dl.meta-author { }
dl.meta-country { }
dl.meta-year { }
dl.meta-gender {}
dd.meta-title {}
dd.meta-author {}
dd.meta-country {}
dd.meta-year {}
dd.meta-gender {}
dd.meta-title  {
  text-decoration: overline;
}

.centered {
  text-align: center;
}

.title {
  text-transform: uppercase;
  text-align: center;
    font-family: 'Alegreya', serif;
  font-size: 3em;
  color: #555;
}

.by {
    text-transform: lowercase;
}

.author {
  text-transform: capitalize;
  text-decoration: overline;
  text-align: center;
}

/* Pre tags must be styled separately */
pre.poem {
  font-family: 'Libre Baskerville', serif;

  whitespace: pre;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  font-family: 'Averia+Serif+Libre', serif;
  font-size: 3em; font-weight:300;
  text-align: center;
  background: #dbe4e4;
  box-shadow: 5px 5px #777777;
  border: 1px solid #8FAEA6;
  border-bottom: 1px #dbe4e4 solid;
  margin: 100px 200px 50px 200px;
  padding: 2% 2%;
}

.metadata {
  font-size: 75%;
  padding: 50px;
  text-align: center;
  /*border: 1px dotted DarkBlue;*/
  margin: 100px 100px 50px 100px;
}

.metadata h5 {
   border: 1px dotted Cyan;
   box-shadow: 5px 5px #777777;
}

.metadata .title {
  font-size: 75%;
}

.tags {
  width: 20%;
  padding: 10px;
  margin: 5px;
}

.collections h4 {
  padding: 10px;
  margin: 10px;
}

.collections ul li {}

.ancient {
  font-family: 'Libre Baskerville', serif;
}

.medieval {
  font-family: 'Alegreya Sans', sans-serif;
}

.modern {
  font-family: 'EB Garamond', serif;
}

.poem-contents {
  font-size: 2em; font-weight:200;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.word {
  white-space: pre;
}

.highlight {
  background-color : #CCFFCC;
}

.notes {
  background-color : #8FAEA6;
  border: 1px 1px ;
}
